<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar</title>
</head>
<body>

    <a href="atualizar-entrada">Entrada de Produtos</a>
    <br>
    <a href="atualizar-saida">Saída de Produtos</a>
    

    <script src="./js/setTimeOut.js"></script>
</body>
</html>