<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="/css/login.css" />
    <%- include('../partials/head') %>
  </head>
  <body>
    <nav class="w-100 h-100 navbar navbar-expand-lg navbar-dark bg-success" style="padding: 5px 5px; margin: 0;">
      <a class="navbar-brand"
        ><img src="imagens/Logotipo.png" height="80px" 
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNavDropdown"
      >
        <button class="btn btn-dark my-sm-0" type="submit" id="btn-sair">
          Sair
        </button>
      </div>
    </nav>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card mt-5">
            <div class="card-body">
              <p class="text-center">
                Informe seu usuário e senha para poder atualizar a senha, por
                favor.
              </p>
              <form method="post" autocomplete="off">
                <div class="form-group">
                  <label for="email">E-mail</label>
                  <input
                    type="email"
                    class="form-control"
                    id="username"
                    placeholder="Digite seu e-mail"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="password">Senha</label>
                  <input
                    type="password"
                    class="form-control"
                    id="newPassword"
                    placeholder="Digite sua senha"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-dark btn-block">
                  Atualizar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br /><br /><br /><br />

    <footer class="rodape container-fluid text-white text-center bg-dark p-1" style="margin-top: 7%;">
      <div>
        <p>© 2024 Todos os direitos reservados</p>
      </div>
    </footer>
  </body>
</html>
