<link rel="stylesheet" href="/css/index.css" />

<nav class="w-100 h-100 navbar navbar-expand-lg navbar-dark" style="padding: 5px 5px; margin: 0; background-color: #22d172 !important;">
    <a class="navbar-brand" href="/">
        <img src="imagens/Logotipo.png" height="80px" alt="Logotipo" />
    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <a href="/login" class="btn btn-dark my-sm-0 mx-1">Login</a>
        <a href="/signup" class="btn btn-dark my-sm-0 mx-1">Cadastro</a>
    </div>
</nav>
