 /* Estilo geral */
 body {
    background-color: #f4f7fb;
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Conteúdo principal */
  .content {
    margin-left: 250px;
    padding: 40px;
  }

  /* Cabeçalho e título */
  h1 {
    color: #22d172;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
  }

  /* Estilo do cartão de formulário */
  .card {
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  }

  .form-group input {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
  }

  .form-group input:focus {
    border-color: #4e73df;
    outline: none;
  }

  /* Botões */
  .btn {
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .btn-dark {
    background-color: #4e73df;
    border: none;
    color: white;
  }

  .btn-dark:hover {
    background-color: #3b5bdb;
    transform: translateY(-5px);
  }

  .btn-block {
    width: 100%;
  }

  /* Modal */
  .modal-header, .modal-footer {
    border: none;
  }

  .modal-content {
    border-radius: 8px;
    padding: 10px;
  }

  .modal-title {
    font-weight: bold;
  }

  .modal-body {
    font-size: 18px;
    color: #333;
  }

  .close {
    color: #fff;
  }


  /* Responsive adjustments */
  @media (max-width: 768px) {
    .content {
      margin-left: 0;
      padding: 20px;
    }

    .card {
      padding: 20px;
    }
  }